<?php 
	$this->headTitle($title);
	
	$this->headScript()->appendFile(URL . 'js/pages/avatarEditor.js', 'text/javascript')
	;
	$this->headLink()->appendStylesheet(URL . 'css/admin/pages/user.css')
		->appendStylesheet(URL . 'css/admin/avatarEditor.css')
	;
?>

<div class="edit-content-wrap">
	<h1><?php echo htmlspecialchars($title);?></h1>
	<?php
		if (isset($error) && !empty($error)){?>
			<div class="error"><?php echo htmlspecialchars($error);?></div>
		<?php }
	?>
	<div class="user-wrap">
		<?php echo $this->form()->openTag($form) ?>
		<?php echo $this->wrappedElement($form->get('csrf')) ?>
		<?php echo $this->wrappedElement($form->get('id')) ?>
		<div class="avatar_container">
			<div class="avatar_image" style="background-image: url('<?php echo isset($item->thumbNailURL)? $item->thumbNailURL : URL.'images/user/default140.png';?>')" id="avatarImage"></div>
			<label><?php echo $this->formInput($form->get('avatar')); ?></label>
			<div class="remove-button" onclick="return avatarEditor.removeFile('<?php echo isset($item->thumbNailURL)? $item->thumbNailURL : URL.'images/user/default140.png';?>');">&nbsp;</div>
			<?php if (!empty($this->formElementErrors($form->get('avatar')))) {?>
				<div class="error"><?php echo $this->formElementErrors($form->get('avatar'));?></div>
				<?php } ?>
			<?php echo $this->wrappedElement($form->get('removeAvatar')); ?>
		</div>
		<div class="clear"></div>
		<div class="clearfix">
			<div><?php echo $this->wrappedElement($form->get('firstName')) ?> </div>
			<div ><?php echo $this->wrappedElement($form->get('lastName')) ?> </div>
			<div><?php echo $this->wrappedElement($form->get('description')) ?> </div>
		</div>
		<div class="clearfix btnsWrapp">
			<?php echo $this->wrappedElement($form->get('submit')) ?>
			<?php echo $this->wrappedElement($form->get('cancel')) ?>
		</div>
		<?php echo $this->form()->closeTag($form) ?>

	</div>
</div>
