<?php
	$this->headTitle(_('Manage Businesses'));
	$this->headScript()->appendFile(URL . 'js/admin/adminGrid.js?v=2015112501')
					->appendFile(URL . 'js/admin/pages/user.js')
	;
	$this->headLink()->appendStylesheet(URL . 'css/admin/pages/user.css')
	;
?>

<div class="clear"></div>
<div id="gridbox"></div>
<div style="display:none">
	<div id="pid_flt_box"><input class="js-filter-value" onkeyup="adminGrid.filterBy()"></div>
	<div id="firstname_flt_box"><input class="js-filter-value" onkeyup="adminGrid.filterBy()"></div>
	<div id="lastname_flt_box"><input class="js-filter-value" onkeyup="adminGrid.filterBy()"></div>
</div>
<script>
	var gridColumns = [
		{'title' : "#", 'width': 30},
		{'title' : <?php echo json_encode(_('User ID'));?>, 'width': 50, 'colSorting': 'int'},
		{'title' : <?php echo json_encode(_('Photo'));?>, 'width': 60},
		{'title' : <?php echo json_encode(_('First Name'));?>, 'width': 120, 'colSorting': 'str', 
			'filter': {
				'sourceContainerSelector': "#firstname_flt_box",
				'values': [{'name':'flFirstName'}]
			}
		},
		{'title' : <?php echo json_encode(_('Last Name'));?>, 'width': 120, 'colSorting': 'str', 
			'filter': {
				'sourceContainerSelector': "#lastname_flt_box",
				'values': [{'name':'flLastName'}]
			}
		},
		{'title' : <?php echo json_encode(_('No. of Posts'));?>, 'width': 60},
		{'title' : <?php echo json_encode(_('Actions'));?>, 'width': <?php echo ($canDelete)? '30' : '60';?>}
	];
	<?php if ($canDelete) {?>
		gridColumns.push({
			'title' : "#cspan", 'width': 30
		});
	<?php } ?>

	$(document).ready(function(){ 
		adminGrid.init({
			listUrl: <?php echo json_encode($this->basePath('admin/user/list'));?>+"?action=list",
			onpage: 25,
			preRenderingAmount: 10,
			awaitedRowHeight: 83,
			columns: gridColumns,
			events: [
				{
					'name': "onBeforeSelect", 'callback': function(id,ind){
						var rowNum = adminGrid.grid.cellById(id,0).getValue();
						return common.selectItemInList(id, rowNum, <?=json_encode($this->basePath('admin/user-note/index/'));?>, true);
					}
				}
			]
		});
	});
</script>
