<?php
header("Content-Type: text/xml");
?>
<rows pos="<?php echo $pos;?>" total_count="<?php echo $total;?>">
	<?php
	$i=$pos;

	foreach($list as $item) {
		$i++;
		$editActions = "<a class='edit' href='".URL. "admin/user/edit/" . $item->id . "'>" . _("Edit") . "</a> ";
		if ($isAllowedDelete)
			$deleteActions = "<a class='del' href='javascript:void(0);' onclick='common.confdel(\"".URL."admin/user/delete/\",{$item->id}, common.removeItem); (arguments[0]||window.event).cancelBubble=true; return false;'>"._('Delete')."</a>";

		?>
		<row id='<?php echo $item->id;?>'>
			<cell><?php echo $i;?></cell>
			<cell><?php echo $item->id;?></cell>
			<cell><?php echo htmlspecialchars('<img class="business-image" src="' . (isset($item->thumbNailURL)? $item->thumbNailURL: URL . 'images/user/default60.png'). '">');?></cell>
			<cell><?php echo htmlspecialchars($item->firstName);?></cell>
			<cell><?php echo htmlspecialchars($item->lastName);?></cell>
			<cell><?php echo htmlspecialchars($item->notesCount);?></cell>
			<cell><?php echo htmlspecialchars($editActions);?></cell>
			<?php echo (($deleteActions)? "<cell>".htmlspecialchars($deleteActions)."</cell>" : "");?>
		</row>
		<?php } ?>
</rows>