<div class="menu-btns">
	<?php	if ($canAdd) { ?>
		<p class="content-buttons form-buttons add_item_btn">
			<a class="add form-button" href="<?php echo URL;?>admin/user/add">
				<span><?php echo _('Create New Business');?></span>
			</a>
		</p>
		<?php }?>
</div>
