#map {
	width: 100%;
	height: 300px;
}
.avatar_container .note_media {
	width: 360px;
	height: 640px;
}
.avatar_container {
	width: 365px;
	height: 700px;
	margin-top: 8px;
	margin-right: 30px;
}
.note-info {
	width: 850px;
	float: left;
}
.media_comment {
	width: 85%;
	margin-top: -18px;
	margin-bottom: 10px;
}
#avatarVideo {
	display: none;
}
.business-note-image {
	height: 100px;
}
.js-video-media-container {
	display: inline !important;
}