<?php
$this->myviewalias()->prepareControllerAction();
echo $this->doctype();
$controller = $this->controller;
$this->headTitle(_('Administration Panel'));
$titles = $this->headTitle();
$title = $titles[0];

?>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<?php echo $this->headTitle(SITE_NAME)->setSeparator(' | ')->setAutoEscape(false) ?>

		<!-- Le styles -->
		<?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
						->appendStylesheet($this->basePath() . '/js/dhtmlxGrid/customscroll.css')
						->appendStylesheet($this->basepath('css/admin/checkbox.css'))
						->appendStylesheet($this->basePath() . '/js/dhtmlxGrid/dhtmlx.css')
						->appendStylesheet($this->basepath('css/admin/codeit-admin.css?v=2016012801'))
		;?>

		<!-- Scripts -->
		<?php echo $this->headScript()->prependFile($this->basePath() . '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
						->prependFile($this->basePath(). '/js/admin/jWindows.js')//custom alert/confirm messages
						->prependFile($this->basePath(). '/js/admin/chosen.jquery.js', 'text/javascript')
						->prependFile($this->basePath(). '/js/admin/common.js?v=2015112501')
						->prependFile($this->basePath(). '/js/admin/jquery.checkbox.min.js')
						/* dhtmlxgrid */
						->prependFile($this->basePath() . '/js/dhtmlxGrid/customscroll.js', 'text/javascript')
						->prependFile($this->basePath() . '/js/dhtmlxGrid/dhtmlx.js?t=2014111301')
						->prependFile($this->basePath() . '/js/jquery-2.1.1.min.js')

						->appendScript('dir = "'.$this->basePath().'"; deleteQuestion="'._('Are you sure you want to delete this item?').'"') 
						->appendScript('closeQuestion="'._('Do you want to save changes before closing?').'"') 
						->appendScript('siteurl = "'.URL.'";') 
						->appendScript('errorTitle="'._('Error').'"; notEnoughPermissions="'._('You do not have enough permissions to make changes').'"')
		?>

	</head>

	<body id="body" <?php echo (isset($bodyClass)? 'class="'.$bodyClass.'"' : '');?>>
		<div class="header">
			<div class="nav-bar">
				<div class="wrapBox">
					<ul id="nav">
						<?php
							$cpath='Admin\Controller\\';
						?>
						<?php if ($this->getUser()->isAllowed($cpath.'User', 'index')) { ?>
							<li class="<?php echo in_array($controller, array('User'))?"active ":''?>parent level0">
								<a href="<?php echo $this->basepath('admin/user')?>" class=""><span><?= _('Manage Businesses');?></span></a>
							</li>
						<?php } ?>
						<?php if ($this->getUser()->getId()) { ?>
							<li class="parent level0 last"><a href="<?php echo URL.'auth/logout'; ?>" class=""><span><?= _('Log Out');?></span></a></li>
						<?php } else { ?>
							<li class="parent level0 last"><a href="<?php echo URL.'auth/login'; ?>" class=""><span><?= _('Log In');?></span></a></li>
						<?php } ?>
					</ul>
				</div>
			</div>
			<div class="breadcrumps-block">
				<div class="breadcrumps <?php echo (isset($breadcrumbsSubclass)? $breadcrumbsSubclass : '');?>">
					<?php if (isset($title_link))
						$title = $title_link;
					if (isset($breadcrumbs)) {
						echo '<div class="breadcrumps-div">';
						foreach ($breadcrumbs as $url => $link_title) {
							echo '<a href="'.$url.'">'.$link_title.'</a>'.' / ';
						}
						echo $title.'</div>';
					}?>
					<?php if (isset($submenu)) {
						echo $submenu;
					}?>
				</div>
			</div>
		</div>


		<div class="wrapBox">
			<div class="wrapper">
				<div class='middle'>
					<?php echo $this->content; ?>
				</div>
				<div class="clear-footer"></div>
			</div>
		</div>

		<div class="footer">
			<div class="copiright-adm">
				&copy; <?= date('Y', TIME) ?> <a href='<?php echo $this->url('home')?>'><?php echo SITE_NAME ?></a>.
			</div>
		</div>
		<!--<div class="line-footer"></div>-->

		<?php echo $this->inlineScript() ?>

	</body>
</html>
