<?php 
	$this->headTitle($title);
	
	$this->headScript()->appendFile(URL . 'js/admin/pages/media-content-editor.js?v=2016012801', 'text/javascript')
		->appendFile($this->basePath() . '/js/admin/chosen.jquery.js', 'text/javascript')
		->appendFile('//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
		->appendFile(URL . 'js/admin/pages/add-map.js', 'text/javascript')
		->appendFile(URL . 'js/admin/pages/user-note.js', 'text/javascript')
	;
	$this->headLink()->appendStylesheet(URL . 'css/admin/avatarEditor.css')
		->appendStylesheet(URL . 'css/admin/pages/user-note.css?v=2016012801')
		->prependStylesheet($this->basePath() . '/css/admin/chosen.css')
	;
?>

<div class="edit-content-wrap">
	<h1><?php echo htmlspecialchars($title);?></h1>
	<?php
		if (isset($error) && !empty($error)){?>
			<div class="error"><?php echo htmlspecialchars($error);?></div>
		<?php }
	?>
	<div class="user-wrap">
		<?php echo $this->form()->openTag($form) ?>
		<?php echo $this->wrappedElement($form->get('csrf')) ?>
		<?php echo $this->wrappedElement($form->get('id')) ?>
		<div class="avatar_container">
			<div class="media_comment"><?php echo _('Recommended resolution for files is 720x1280px');?></div>
			<div class="avatar_image note_media <?php echo (!isset($item->media->type) || (isset($item->media->type) && $item->media->type == 'image'))? 'js-image-media-container' : 'hidden';?>"  style="background-image: url('<?php echo (isset($item->media->type) && $item->media->type == 'image' && isset($item->media->originUrl))? $item->media->originUrl : URL.'images/note/default360.png';?>')" id="avatarImage"></div>
			<video class="note_media js-video <?php echo (isset($item->media->type) && $item->media->type == 'video')? 'js-video-media-container' : 'hidden';?>" id="avatarVideo" controls="controls" src="<?php echo (isset($item->media->type) && $item->media->type == 'video' && isset($item->media->originUrl))? $item->media->originUrl :'';?>">
				Your user agent does not support the HTML5 Video element.
			</video>
			<label><?php echo $this->formInput($form->get('media')); ?></label>
			<div class="remove-button" onclick="return mediaContentEditor.removeFile('<?php echo isset($item->media->previewUrl)? $item->media->previewUrl : URL.'images/note/default360.png';?>', '<?php echo (isset($item->media->type)? ($item->media->type) : ('image'));?>');">&nbsp;</div>
			<?php if (!empty($this->formElementErrors($form->get('media')))) {?>
				<div class="error"><?php echo $this->formElementErrors($form->get('media'));?></div>
				<?php } ?>
			<?php echo $this->wrappedElement($form->get('removeMedia')); ?>
		</div>
		<div class="note-info">
			<div><?php echo $this->wrappedElement($form->get('latitude')) ?> </div>
			<div><?php echo $this->wrappedElement($form->get('longitude')) ?> </div>
			<div><?php echo $this->wrappedElement($form->get('address')) ?> </div>
			<div id="map"></div>
			<br/>
			<div ><?php echo $this->wrappedElement($form->get('foursquareVenueId')) ?> </div>
			<div ><?php echo $this->wrappedElement($form->get('locationName')) ?> </div>
			<div ><?php echo $this->wrappedElement($form->get('category')) ?> </div>
			<div ><?php echo $this->wrappedElement($form->get('distance')) ?> </div>
			<div><?php echo $this->wrappedElement($form->get('description')) ?> </div>
			<div><?php echo $this->wrappedElement($form->get('expiryDate')) ?> </div>
		</div>
		<div class="clearfix"></div>
		<div class="clearfix btnsWrapp">
			<?php echo $this->wrappedElement($form->get('submit')) ?>
			<?php echo $this->wrappedElement($form->get('cancel')) ?>
		</div>
		<?php echo $this->form()->closeTag($form) ?>

	</div>
</div>
<script>
	$(document).ready(function() {
		$(".chosen-select").chosen({disable_search_threshold: 7});
		map.init(<?php echo json_encode($form->get('latitude')->getValue());?>, <?php echo json_encode($form->get('longitude')->getValue());?>);
		userNote.initializePlacesSearchBox();
	});
</script>
