<?php
	$this->headTitle(_('List of notes by '). $user->firstName . ' ' . $user->lastName);
	$this->headScript()->appendFile(URL . 'js/admin/adminGrid.js?v=2015112501')
						->appendFile($this->basePath() . '/js/admin/chosen.jquery.js', 'text/javascript')
	;
	$this->headLink()->appendStylesheet(URL . 'css/admin/pages/user-note.css')
					->prependStylesheet($this->basePath() . '/css/admin/chosen.css')
	;
?>

<div class="clear"></div>
<div id="gridbox"></div>
<div style="display:none">
	<div id="pid_flt_box"><input class="js-filter-value" onkeyup="adminGrid.filterBy()"></div>
	<div id="type_flt_box">
		<select class="js-filter-value chosen-select" onchange="adminGrid.filterBy()">
			<option value=""><?php echo _('All');?></option>
			<option value="image"><?php echo _('Image');?></option>
			<option value="video"><?php echo _('Video');?></option>
		</select>
	</div>
	<div id="location_flt_box"><input class="js-filter-value" onkeyup="adminGrid.filterBy()"></div>
</div>
<script>
	var gridColumns = [
		{'title' : "#", 'width': 30},
		{'title' : <?php echo json_encode(_('Note ID'));?>, 'width': 50, 'colSorting': 'int'},
		{'title' : <?php echo json_encode(_('Photo'));?>, 'width': 60},
		{'title' : <?php echo json_encode(_('Content Type'));?>, 'width': 120,
			'filter': {
				'sourceContainerSelector': "#type_flt_box",
				'values': [{'name':'flContentType'}]
			}
		},
		{'title' : <?php echo json_encode(_('Location Name'));?>, 'width': 120, 'colSorting': 'str', 
			'filter': {
				'sourceContainerSelector': "#location_flt_box",
				'values': [{'name':'flLocation'}]
			}
		},
		{'title' : <?php echo json_encode(_('Published Date'));?>, 'width': 60, 'colSorting': 'str'},
		{'title' : <?php echo json_encode(_('Note Exp.'));?>, 'width': 60, 'colSorting': 'str'},
		{'title' : <?php echo json_encode(_('Actions'));?>, 'width': <?php echo ($canDelete)? '30' : '60';?>}
	];
	<?php if ($canDelete) {?>
		gridColumns.push({
			'title' : "#cspan", 'width': 30
		});
	<?php } ?>

	$(document).ready(function(){ 
		adminGrid.init({
			listUrl: <?php echo json_encode($this->basePath('admin/user-note/list'));?>+"?action=list&userId=" + <?php echo json_encode($user->id);?>,
			onpage: 25,
			preRenderingAmount: 10,
			awaitedRowHeight: 103,
			columns: gridColumns,
			events: [
				{
					'name': "onBeforeSelect", 'callback': function(id,ind){
						var rowNum = adminGrid.grid.cellById(id,0).getValue();
						return common.selectItemInList(id, rowNum, <?=json_encode($this->basePath('admin/user-note/edit/'));?>, true);
					}
				}
			]
		});
		
		$(".chosen-select").chosen({disable_search_threshold: 7});
	});
</script>
