<?php
use Application\Lib\Time;

header("Content-Type: text/xml");
?>
<rows pos="<?php echo $pos;?>" total_count="<?php echo $total;?>">
	<?php
	$i=$pos;

	foreach($list as $item) {
		$i++;
		$editActions = "<a class='edit' href='".URL. "admin/user-note/edit/" . $item->id . "'>" . _("Edit") . "</a> ";
		if ($isAllowedDelete)
			$deleteActions = "<a class='del' href='javascript:void(0);' onclick='common.confdel(\"".URL."admin/user/delete/\",{$item->id}, common.removeItem); (arguments[0]||window.event).cancelBubble=true; return false;'>"._('Delete')."</a>";

		?>
		<row id='<?php echo $item->id;?>'>
			<cell><?php echo $i;?></cell>
			<cell><?php echo $item->id;?></cell>
			<cell><?php echo htmlspecialchars(isset($item->media->previewUrl)? '<img class="business-note-image" src="' . $item->media->previewUrl . '">' : '');?></cell>
			<cell><?php echo htmlspecialchars(ucfirst($item->media->type));?></cell>
			<cell><?php echo htmlspecialchars($item->location->name);?></cell>
			<cell><?php echo htmlspecialchars(Time::formatDate($item->creationDate/1000, Time::FORMAT_SLASHED));?></cell>
			<cell><?php echo htmlspecialchars(isset($item->expiryDate)? Time::formatDate($item->expiryDate/1000, Time::FORMAT_SLASHED) : '');?></cell>
			<cell><?php echo htmlspecialchars($editActions);?></cell>
			<?php echo (($deleteActions)? "<cell>".htmlspecialchars($deleteActions)."</cell>" : "");?>
		</row>
		<?php } ?>
</rows>