<div class="menu-btns">
	<?php	if ($canAdd) { ?>
		<p class="content-buttons form-buttons add_item_btn">
			<a class="add form-button" href="<?php echo URL;?>admin/user-note/add/<?php echo $user->id;?>">
				<span><?php echo _('Create New');?></span>
			</a>
		</p>
		<?php }?>
</div>
<div class="total-grid-count"><?php echo $user->firstName . ' ' . $user->lastName;?></div>
