<?php
$this->myviewalias()->prepareControllerAction();
$controller = $this->controller;
$action = $this->action;

$currentUser = $this->getUser();
$role = $currentUser->getRole();
?>
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name = "format-detection" content = "telephone=no">
		<?php echo $this->headTitle(SITE_NAME)->setSeparator(' - ') ?>
		<?php echo $this->headMeta()->appendName('viewport', 'width=device-width, initial-scale=1.0') ?>
		<?php 
			$this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => URL . 'img/favicon.ico'));
			$this->headScript()
				->prependFile($this->basePath(). '/js/html5.js', 'text/javascript', array('conditional' => 'lt IE 9',))
				->appendScript('siteurl = "'.$this->basePath('/').'";')
			;
		?>
		<?php if (defined('JS_COMBINE') && JS_COMBINE) {
			echo $this->headLink()->prependStylesheet($this->basePath() . '/cache/layout.css?' . CSS_LAYOUT);
			echo $this->headScript()->prependFile($this->basePath() . '/cache/layout.js?' . JS_LAYOUT);
		} else {
			echo $this->headLink()
				->prependStylesheet($this->basePath() . '/css/style.css')
				->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
			; 
			echo $this->headScript()
				->prependFile($this->basePath() . '/js/bootstrap.min.js')
				->prependFile($this->basePath() . '/js/jquery-2.1.1.min.js')
			;
		}?>

	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="<?php echo URL; ?>"><img src="<?php echo $this->basePath('images/logo.png') ?>"/></a>
					</div>
					<div class="bs-component">
						<?php if ($currentUser->getId()) { ?>
							<ul class="nav navbar-nav navbar-right">
								<li>
									<div class="user_avatar">
										<div class="avatar_image">
											<img src="<?php echo $currentUser->avatars[60];?>" alt="">
										</div>
										<div class="user_name"><?php echo htmlspecialchars($currentUser->name);?></div>
									</div>
								</li>
							</ul>
						<?php } ?>
						<ul class="nav nav-pills">
							<li class="<?php echo (in_array($controller, array('Index')) && $this->namespace=='Application\Controller')?"active ":''?>">
								<a href="<?php echo URL; ?>"><?php echo _('Home') ?></a>
							</li>
							<?php if ($currentUser->getId()) { ?>
								<li><a href="<?php echo URL.'auth/logout'; ?>" class=""><span><?= _('Log Out');?></span></a></li>
							<?php } else { ?>
								<li class="<?php echo($action=='login')? "active ":''?>">
									<a href="<?php echo URL.'auth/login'; ?>"><span><?= _('Log In');?></span></a>
								</li>
								<li class="<?php echo($action=='registration')? "active ":''?>">
									<a href="<?php echo URL.'auth/registration'; ?>"><span><?= _('Sign Up');?></span></a>
								</li>
							<?php } ?>
							<?php if ($currentUser->isAllowed('Admin\Controller', 'index')) {?>
								<li><a href="<?php echo $this->basepath('admin/')?>" class=""><span><?= _('Admin panel');?></span></a></li>
							<?php }?>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</nav>
			<div class="container">
				<?php echo $this->content; ?>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<hr>
				<p><?php printf(_('&copy; 2014-%d by CodeIT. All rights reserved.'), date('Y')) ?></p>
			</div>
		</div> <!-- /container -->
		<?php echo $this->inlineScript() ?>
	</body>
</html>
