.avatar_container {
    float: left;
    margin-right: 10px;
    position: relative;
    margin: 0px 20px 40px 0px;
    padding-top: 20px;
    width: 140px;
    height: 140px;
}
.avatar_container img {
	max-width: 100%;
    max-height: 100%;
}

.avatar_container label {
    position: absolute;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px;
    background: url("../../images/admin/codeitadmin/edit_icon_new.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    right: 23px;
    top: 0px;
    opacity: 0.6;
    cursor: pointer;
}

.avatar_container label:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
}

.avatar_container label input[type=file] {
    cursor: pointer;
    display: none;
    width: 100%;
    height: 100%;
    margin-left: -50px;
    display: none;
}

.avatar_container input[type=file] {
    opacity: 0;
    position: absolute;
    filter: alpha(opacity=0);
}
.avatar_container .remove-button {
	background: url("../../images/admin/codeitadmin/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	padding-left: 10px;
	position: absolute;
	right: 0px;
	top: 4px;
    cursor: pointer;
}

.avatar_container .avatar_image {
    width:140px;
    height: 140px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
}