* { 
	margin:0; 
	padding:0; 
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body#body {  
	height: 100%;
	width: 100%;
	position: relative;
}
body {
	background: #fbfbfc;
	color: #4f6270;
	font-family: verdana;
	font-size: 12px; 
}
a,
button {
	outline: none;
}
h1 {font-size: 16px; margin: 12px 0 0 0;}
h1, h2, h3, h4          { margin-bottom:.5em; line-height:1.4em; }
h2                      { font-size:1.7em; }
h3                      { margin-bottom:.5em; color:#253033; font-size:1.25em; }
h4                      { margin-bottom:.6em; color:#494848; font-size:1.05em; }
h5                      { font-size:1.05em; }
h6                      { font-size:1em; }
h1 a, h1 a:hover,
h2 a, h2 a:hover,
h3 a, h3 a:hover,
h4 a, h4 a:hover        { font-weight:normal; }

/* Table */
th                      { padding:0; text-align:left; vertical-align:top; }
td                      { padding:0; vertical-align:top; }

/* Paragraph */
p, address              { margin-bottom:.5em; }
address                 { font-style:normal; }
cite                    { font-style:normal; font-size:10px; }
q:before,
q:after                 { content:'';}

/* Form */
form                    { display:inline; }
fieldset                { border:0; }
legend                  { display:none; }
label                   { color:#414d54; }
input, select           { vertical-align:middle; }
textarea                { overflow:auto; }

/* Lists */
dt                      { display:block; }

/* Size */
small                   { font-size:.9em; }
big                     { font-size:1.25em; }
.wrapBox,
.breadcrumps {
	min-width: 1300px !important;
  max-width: 1600px !important;
  padding: 0 10px;
  margin: 0 auto;
}
.bordered_breadcrumbs{
	border-bottom: 1px solid #DADADA;
  margin-bottom: 5px;
}
.wrapBox, .wrapper, .middle {
	height: 100%;
}
/* set width for workspace */
.wrapper, #nav, .breadcrumps-div,
.content-buttons.form-buttons,
.content-header .form-buttons,
div.gridbox_light .xhdr,
.com-table-block, .com_files,
.reports_panel {
	min-width: 1000px !important;
  max-width: 1600px !important;
}
#nav li {
  float:left;
  margin: 0;
  border-right: 1px solid #c0c0c2;
  border-left: 1px solid #e3e4e6;
  position:relative;
}
li.level0 {
	cursor: auto;
}
#nav li:last-child:after {
    border-right: 1px solid #e3e4e6;
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 53px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    right: -2px;
    top: 0;
}
#nav li a {
    float:left;
    padding:0 19px;
}
#nav li a span {
	display: block;
	height: 53px;
	color: #3b3e44;
	font-size: 12px;
	line-height: 53px;
	text-shadow: 1px 1px 1px #a3a3a7;
	text-transform: uppercase;
}  
#nav li:hover a,  
#nav li.active a {
	background:url(../../images/admin/codeitadmin/menu_active.png) repeat;
	cursor: pointer;
}
#nav li.over a { color:#d6e2e5; }


/************ 1ST LEVEL RESET ************/
#nav ul li, #nav ul li.active {
    float:none;
    height:auto;
    background:none;
    margin:0;
    }
#nav ul a, #nav ul a:hover {
    float:none;
    padding:0;
    background:none;
}
#nav ul li.over a,
#nav ul li.over a:hover
#nav ul a,
#nav li.active li { font-weight:normal; }


/************ 2ND LEVEL ************/
#nav ul {
  position: absolute;
  width:101%;
  top:53px;
  left:-10000px;
}

#nav ul ul  {
    border-top:none;
}
/* Show menu */
#nav li.over ul { left:-1px; }
#nav li.over ul ul { left:-10000px; }
#nav li.over ul li.over ul { left:100px; }

#nav ul li, #nav ul li.active {
	border-bottom: 1px solid #dcdde1;
	border-left:1px solid #dcdde1;
  border-right:1px solid #dcdde1;
	padding: 0 15px;	
	margin-left: -2px;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 0%, #e9e8ed 47%, #fcfcfc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(47%,#e9e8ed), color-stop(100%,#fcfcfc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e9e8ed 47%,#fcfcfc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 0%,#e9e8ed 47%,#fcfcfc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 0%,#e9e8ed 47%,#fcfcfc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 0%,#e9e8ed 47%,#fcfcfc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#fcfcfc',GradientType=0 ); /* IE6-9 */
}
#nav ul li:hover {
	background: #dbdadf; /* Old browsers */
	background: -moz-linear-gradient(top,  #dbdadf 0%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdadf), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dbdadf 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dbdadf 0%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dbdadf 0%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dbdadf 0%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdadf', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
#nav ul li a span {
	font-size: 12px;
}
#nav ul li:hover a span, #nav ul li.active a span {
	color: #466e98 !important;
}
#nav ul li:last-child:after {
    border:0 none ;
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height:0px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
}
#nav ul li a span {
	height: 32px;
	line-height: 32px;
	text-transform: none;
	text-shadow: 0 0 0;
}

#nav > li > a {
	  padding: 0 35px;
}
#nav ul.settings_dropdown_menu {
	width: 163px;
}
/* wrapper */
.wrapper	{ 
	background: #fff;
	border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  margin: 0 auto;
  min-height: 100%;

}

/* header */
.header { 
	position: fixed;
  width: 100%;
  top: 0;
  z-index: 7;
}

/* menu */
.nav-bar {
	background:url(../../images/admin/codeitadmin/header_bg.png) repeat-x;
	border-top:1px solid #fcfcfc;
	border-bottom:1px solid #d1d0d4;
  width: 100%;
  z-index: 10;
  height: 53px;
  position: relative;
}
#nav {  
	margin:0 auto;
}
#nav li {
	list-style:none;
	position:relative;
	text-align:left;
}
#nav li:hover > ul {
	left: 0;
	z-index:9999;
}
#nav a, #nav a:hover {
  text-decoration:none;
}


/* breadcrumps */
.breadcrumps-block {
	background: none repeat scroll 0 0 #F3F3F4;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #dadada;
  height: 70px;
  width: 100%;
}
.breadcrumps-div{
	padding: 15px 0;
	font-size: 11px;
	margin: 0 auto;
}
.breadcrumps-div {
	padding-left: 25px;
}
.breadcrumps-div a {
	color: #3877b4;
	font-size: 11px;
	text-decoration: none;
}
.breadcrumps-div a:hover {
	text-decoration: underline;
}


/* middle */
.middle{
	height: auto;
	margin: 0px auto 0;
  position: relative;
  padding: 122px 0 0;
}

/* gridbox */
#gridbox{
	margin: auto;
	/*padding-top: 102px;*/
	height: auto !important;
	width: 100% !important;
}


/* footer */
.clear-footer {
	height: 50px;
}
.line-footer {
	background: #DADADA;
	bottom: 48px;
  height: 2px;
  left: 50%;
  margin-left: -501px;
  position: fixed;
  width: 1002px;
}
.footer {
    background:url(../../images/admin/codeitadmin/footer_bg.jpg) repeat-x;
    text-align:center;
    height: 48px;
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.copiright-adm {
	color:#fff;
	font-size:12px;
	margin: 0px auto;
	padding-top: 15px;
}
.copiright-adm a {
	color:#fff;
	font-size: 12px;

}
.copiright-adm a:hover {
	text-decoration: none;
}
/* icon */
tr.ev_light td a, 
tr.odd_light td a{
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
  top: -7px;
}
a.edit {
	background:url(../../images/admin/codeitadmin/edit_icon.png) no-repeat;
	font-size: 0;
	color: #fff;
	text-decoration: none;
	height: 12px;
	width: 12px;
	display: inline-block;
}
a.del {
	background:url(../../images/admin/codeitadmin/delete_icon.png) no-repeat;
	font-size: 0;
	color: #fff;
	text-decoration: none;
	height: 12px;
	width: 12px;
	display: inline-block;
}
a.load {
	background:url(../../images/admin/codeitadmin/load_icon.png) no-repeat;
	font-size: 0;
	color: #fff;
	text-decoration: none;
	height: 12px;
	width: 12px;
	display: inline-block;
}
a.disable_user, a.enable_user {
	background:url(../../images/admin/codeitadmin/block_user_icon.png) no-repeat;
	font-size: 0;
	color: #fff;
	text-decoration: none;
	height: 16px;
	width: 16px;
	display: inline-block;
}
a.enable_user {
	background:url(../../images/admin/codeitadmin/unblock_user_icon.png) no-repeat;
}
/* button */
button.add span,
.form-button.add span  { 
	background:url(../../images/admin/codeitadmin/add.png) no-repeat; 
}
.send-btn,
.form-button,
a.form-button { 
	border-width:1px; 
	border-style:solid; 
	border-radius: 3px;
	border-color:#5897c3 #5897c3 #5897c3 #5897c3; 
	padding:0 5px 0px 5px; 
	font-family: verdana;
	color:#fff; 
	text-shadow: -1px -1px 1px #3d7bb6;
	font-size: 11px;
	line-height: 30px;
	text-transform: uppercase;
	cursor:pointer; 
	text-align:center !important; 
	white-space:nowrap; 
	background: #87c6e3;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg3YzZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjNjdhZGQ3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTUlIiBzdG9wLWNvbG9yPSIjNTc5YWNkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ3ODdjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #87c6e3 0%, #67add7 9%, #579acd 55%, #4787c4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87c6e3), color-stop(9%,#67add7), color-stop(55%,#579acd), color-stop(100%,#4787c4));
background: -webkit-linear-gradient(top,  #87c6e3 0%,#67add7 9%,#579acd 55%,#4787c4 100%);
background: -o-linear-gradient(top,  #87c6e3 0%,#67add7 9%,#579acd 55%,#4787c4 100%);
background: -ms-linear-gradient(top,  #87c6e3 0%,#67add7 9%,#579acd 55%,#4787c4 100%);
background: linear-gradient(to bottom,  #87c6e3 0%,#67add7 9%,#579acd 55%,#4787c4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87c6e3', endColorstr='#4787c4',GradientType=0 );

}
.send-btn:hover,
.form-button:hover,
a.form-button:hover { 
	border: 1px solid #5897c3;
	background: #5babd6;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViYWJkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzQ3ODdjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2N2FkZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #5babd6 0%, #4787c4 10%, #67add7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5babd6), color-stop(10%,#4787c4), color-stop(100%,#67add7));
background: -webkit-linear-gradient(top,  #5babd6 0%,#4787c4 10%,#67add7 100%);
background: -o-linear-gradient(top,  #5babd6 0%,#4787c4 10%,#67add7 100%);
background: -ms-linear-gradient(top,  #5babd6 0%,#4787c4 10%,#67add7 100%);
background: linear-gradient(to bottom,  #5babd6 0%,#4787c4 10%,#67add7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5babd6', endColorstr='#67add7',GradientType=0 );

}

input[type="submit"], 
button {
	border-width:1px; 
	border-style:solid; 
	border-radius: 3px;
	border-color:#5897c3 #5897c3 #5897c3 #5897c3; 
	padding:0 5px 0px 5px; 
	font-family: verdana;
	color:#fff; 
	text-shadow: -1px -1px 1px #3d7bb6;
	font-size: 11px;
	line-height: 30px;
	text-transform: uppercase;
	cursor:pointer; 
	text-align:center !important; 
	white-space:nowrap; 
}
.content-buttons.form-buttons,
.content-header .form-buttons   { 
  z-index: 8;
	width: 100%;
	margin: 0 auto;
}
.row20px {
	width:100% !important;
}
.objbox{
		padding-top: 61px;
    position: relative;
    
}
.add_item_btn a, .add_item_btn .content-buttons{
	position: absolute;
	right: 0;
	top: -35px;
	overflow: visible;
}
/* table */
div.gridbox {
	border: none !important;
}
div.gridbox .xhdr {
    /*position: fixed !important;*/
    /*width: 1000px !important;*/
    /*width: 100% !important;*/
    z-index: 1 !important;
}
table {
	border-collapse:collapse !important;
	padding: 0 !important;
	margin: 0 !important;
}
div.gridbox table td {
	color:#40525e !important;
	font-size: 12px !important;
	font-family: verdana !important;
	font-weight: normal !important;
}
.odd_light td, .odd_dhx_skyblue td {
	background: #f6f6f6 !important;
}
table tr td {
	padding: 6px 6px;
	vertical-align: middle !important;
	word-wrap: break-word !important;
}
table:not(.obj) tr td {
	text-align: center !important;
}
table tr td:first-child {
	border-left: 0 none !important;
}
table tr td:last-child {
	border-right: 0 none !important;
}

table.hdr td {
	background:#f3f3f4 !important;
	border:1px solid #dadada !important;
	position:unset !important;
} 
table.obj td {
	border:1px solid #ececee !important;
	padding: 1px 6px !important;
} 
table.obj tr:hover td {
	background: #c6c6c6 !important;
}
.hdrcell {
	padding: 0 5px !important;
}
div.gridbox table.hdr td div.hdrcell, div.gridbox table.hdr td {
	overflow: visible !important;
}
.hdr{
	padding-right: 0px !important;
	 width: 100% !important;
}
/* form */
.formWrapp {
	display: block;
	position: relative;
	text-align: left;
}
.submit.element .el {
	display: inline-block;
  height: 32px;
  line-height: 30px;
  font-size: 12px;
  text-shadow: -1px -1px 1px #639543;
  padding: 0px;
  border-radius: 3px;
  border: 1px solid #68a341;
  border-left: 1px solid #88b66b;
  background: #b1d284;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxZDI4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzljYzY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg5Yjk2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NGFhNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #b1d284 0%, #9cc66d 10%, #89b961 50%, #74aa52 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1d284), color-stop(10%,#9cc66d), color-stop(50%,#89b961), color-stop(100%,#74aa52));
background: -webkit-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: -o-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: -ms-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: linear-gradient(to bottom,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d284', endColorstr='#74aa52',GradientType=0 );

}
.submit.element:hover .el {
	cursor: pointer;
	background: #74aa52;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0YWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzllYzY2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMWQyODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #74aa52 0%, #9ec66e 93%, #b1d284 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74aa52), color-stop(93%,#9ec66e), color-stop(100%,#b1d284));
background: -webkit-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: -o-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: -ms-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: linear-gradient(to bottom,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74aa52', endColorstr='#b1d284',GradientType=0 );

}
.submit.element .el #submit {
	background:url(../../images/admin/codeitadmin/save_icon.png) no-repeat 10px 48%; 
	border: 0 none;
	padding-left: 15px;
	text-shadow: -1px -1px 1px #548634;
	background-color: transparent !important;
	padding: 0px 15px 0px 25px;
	display: block;
	height: 33px;
}

.btnsWrapp .submit.element,.btnsWrapp  .button.element{
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}

.formWrapp h1 {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	display: block;
	background: #f4f4f4;
}
.content-iframe h1 {
	position: relative;
  top: -5px;
  margin: 0;
}
.formWrapp .label {
	float: none;
	color: #414d54;
	font-size: 12px;
	margin-bottom: 2px;
	padding-left: 4px;
	min-width: 80px;
	margin-right: 5px;
}
/* ===== */
.formWrapp input[type="text"], .formWrapp input[type="password"], .formWrapp textarea {
	border: 1px solid #dcdde1;
	background: #fff;
	padding: 0 5px;
	color: #4f5d65;
}
.formWrapp input[type="text"], .formWrapp input[type="password"] {
	height: 30px;
}
.formWrapp input[type="text"]:hover, .formWrapp input[type="password"]:hover, .formWrapp textarea:hover {
	-moz-transition: all 0.9s ease;
  -moz-transition-delay: 0.1s;
  -webkit-transition: all 0.9s ease;
  -webkit-transition-delay: 0.1s;
  -khtml-transition: all 0.9s ease;
  -khtml-transition-delay: 0.1s;
  transition: all 0.9s ease;
  transition-delay: 0.1s;
  color:#000;
	border:1px solid #c3c4c5;
}
.formWrapp input[type="text"]:focus, .formWrapp input[type="password"]:focus, .formWrapp textarea:focus {
	font-style: normal;
	color:#000;
	border:1px solid #c3c4c5;
}
.formWrapp .element br {
	display: none;
}
.formWrapp .element {
	margin-bottom: 10px;
}
/* Clear Floated Elements  */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.zendForm .text.level.element {clear: both}
.btnsWrapp{text-align: center; vertical-align: middle;margin: 10px 0;}
.formWrapp .element.clear, .formWrapp .element.clear2 {
	width: 100%;
	margin-bottom: 0px;
}

.formWrapp input:not([type=submit]), .formWrapp .chzn-container, .formWrapp textarea {width:100%; min-width: 100%;}
/* select style */
.formWrapp .chzn-container{
	margin: 0px 2px 0;
}

#template .submit.element {
	margin-left: 250px;
}
.small-popup  #template .submit.element {
	margin-left: 148px;
}

#template input[type="text"] {
	width: 690px;
}
.input-template-editor {
	width: 700px;
	height: 200px;
}
#template .o2k7Skin table, #template .o2k7Skin tbody, #template .o2k7Skin a, #template .o2k7Skin img,
#template  .o2k7Skin tr, #template .o2k7Skin div, #template .o2k7Skin td, #template .o2k7Skin iframe, 
#template .o2k7Skin span, #template .o2k7Skin *, #template .o2k7Skin .mceText {
	max-width: 705px !important;
}
#template .o2k7Skin .mceIframeContainer iframe{
	height: 200px !important;
}
.wrap-iframe .zendForm .submit.element {
	margin-left: 160px;
}
.hor-line{
	background: #DDDDDD;
  border: 0 none;
  height: 2px;
  margin: 10px 0 20px;
  border-bottom: 1px solid #ffffff;
} 
.wrap-iframe h1 {
	text-transform: uppercase;
	position: relative;
  text-transform: uppercase;
  top: -6px;
}
textarea {
    resize: none;
}
.o2k7Skin .mceStatusbar a.mceResize {
	display: none !important;
}
.o2k7Skin table, .o2k7Skin tbody, .o2k7Skin a, .o2k7Skin img, .o2k7Skin tr, .o2k7Skin div, .o2k7Skin td, .o2k7Skin iframe, .o2k7Skin span, .o2k7Skin *, .o2k7Skin .mceText {
	max-width: 538px;
	width: 538px;
}
table.mceToolbar[role="presentation"] {
    float: left;
}
td.mceToolbar[role="presentation"] > div[role="group"] {
    white-space: normal;
}
.hdr select,
.hdr input {
	background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DCDDE1 !important;
  color: #000;
  height: 24px;
  width: 100%;
}
.download-btn, .block-btn, .delete-btn, .send-btn, .create-btn {
	padding: 1px 0;
  text-align: center;
  width: 161px;
}
button a {
	text-decoration: none;
	color: #fff;
}
.zendForm .checkbox.element {
	margin-bottom: 25px;
}

.download-btn-container:hover {
	text-decoration: none;
	color: #fff;
}
/* ======================== */
.popup_overlay {
  background: #000000;
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.popup_container{
	font-size: 16px;
  background: #fbfbfc;
  border: 0 none;
  border-radius: 4px;
  position: relative;
  -moz-box-shadow: 0 0 10px #333;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  left: 50%;
	z-index: 8031 !important;
	width: 550px;
}
.popup_container .popup_title{
  font-weight: bold;
  background: #f4f4f4;
  padding-left: 15px;
  line-height: 40px;
  border-radius: 4px 4px 0 0;
  color: #595959;
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
}
.popup_message {
	color: #415058;
	font-size: 16px;
	line-height: 22px;
	
}
.popup_container .close{
  content: "";
	cursor: pointer;
	background:  url("../../images/admin/codeitadmin/close.png")  center center no-repeat ;
  border-left: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  border-radius: 0 4px 0 0;
  height: 40px;
  position: absolute;
	right: 0px;
	top: 0px;
  width: 40px;
}
.popup_container .popup_content{
	padding: 15px 20px 24px;
}
.popup_panel{
	text-align: center;
	padding-top: 25px;
}
.popup_panel input.popup_ok, .popup_panel input.popup_cancel{
	color: #fff;
	text-transform: uppercase;
	padding: 0 10px;
	margin: 0 10px;
	height: 32px;
  line-height: 30px;
  font-size: 12px;
  text-shadow: -1px -1px 1px rgba(255,255,255,0.3);
  padding: 0 15px;
  border-radius: 3px;
	cursor: pointer;
}
.popup_panel input.popup_ok {
  border: 1px solid #68a341;
  border-left: 1px solid #88b66b;
  background: #b1d284;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxZDI4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzljYzY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg5Yjk2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NGFhNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #b1d284 0%, #9cc66d 10%, #89b961 50%, #74aa52 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1d284), color-stop(10%,#9cc66d), color-stop(50%,#89b961), color-stop(100%,#74aa52));
background: -webkit-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: -o-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: -ms-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: linear-gradient(to bottom,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d284', endColorstr='#74aa52',GradientType=0 );
}
.popup_panel input.popup_ok:hover {
	background: #74aa52;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0YWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzllYzY2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMWQyODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #74aa52 0%, #9ec66e 93%, #b1d284 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74aa52), color-stop(93%,#9ec66e), color-stop(100%,#b1d284));
background: -webkit-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: -o-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: -ms-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: linear-gradient(to bottom,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74aa52', endColorstr='#b1d284',GradientType=0 );
}
.popup_panel input.popup_cancel {
	border-top:1px solid #8d6262;
	border-right:1px solid #8d6262;
	border-bottom:1px solid #a58484;
	border-left:1px solid #a58484;
	background: #be9e9e;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlOWU5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjYWM4NDg0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjOWM3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg2NWE1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #be9e9e 0%, #ac8484 9%, #9c7272 52%, #865a5a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be9e9e), color-stop(9%,#ac8484), color-stop(52%,#9c7272), color-stop(100%,#865a5a));
background: -webkit-linear-gradient(top,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
background: -o-linear-gradient(top,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
background: -ms-linear-gradient(top,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
background: linear-gradient(to bottom,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be9e9e', endColorstr='#865a5a',GradientType=0 );
}
.popup_panel input.popup_cancel:hover {
	background: #865a5a;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2NWE1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzlhNzA3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2FkODU4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZTllOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #865a5a 0%, #9a7070 49%, #ad8585 98%, #be9e9e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#865a5a), color-stop(49%,#9a7070), color-stop(98%,#ad8585), color-stop(100%,#be9e9e));
background: -webkit-linear-gradient(top,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
background: -o-linear-gradient(top,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
background: -ms-linear-gradient(top,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
background: linear-gradient(to bottom,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#865a5a', endColorstr='#be9e9e',GradientType=0 );
}

.popup_header_cust{height:40px; border-bottom:1px solid #DDDDDD ;}
input [type=text]::-ms-clear { display: none; }
/* tabs popup edit profile*/
.content-iframe {
	padding: 15px;
	
	/*min-width: 530px;*/
}
.user-wrap {
	margin-top: 20px;
  position: relative;
}
.user-wrap ul.tabs-horiz,
.user-wrap ul.tabs-horiz li,
.user-wrap .invTabs {
	padding: 0;
}
#invTabs0,
#invTabs1 {
  margin-left: -15px;
  padding-left: 15px;
  padding-right: 15px;
 /* width: 510px;*/
  padding-top: 1px;
}
ul.tabs-horiz li a {
	background:#e7eaeb;
}
#invTabsUl {
    height: 38px !important;
    margin-bottom: -3px;
    position: relative;
    z-index: 0;
    list-style: outside none none;
    margin: 15px 0 0;
    padding: 2px 15px;
}
#invTabsUl li {
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
}
#invTabsUl li a {
	background: #dadada none repeat scroll 0 0;
    display: block;
    text-decoration: none;
    padding: 10px 15px;
}
#invTabsUl li a span {
	text-transform: uppercase;
	color: #6e7f8b;
	font-size: 12px;
}
#invTabsUl li a.active {
	 background: #c6c6c6 none repeat scroll 0 0;
}
.tab-item-link.active span {
	color: #40525e !important;
}
.invTabs {
	border: 0 none;
	position: relative;
	z-index: 2;
	background:url('../../images/admin/codeitadmin/line.jpg') repeat-x 0 0px;;
	padding: 5px;
}
.invTabs form {
	margin-left: 15px;
	margin-right: 15px;
}

.screen_loader {
    background: #000000 url('../../images/ajax-loader.gif') center center no-repeat;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#submit:disabled {
	cursor: default;
	opacity:0.8 !important;
}
.error-input, .element.highlited input, .element.highlited textarea {
	border-color: #F43939 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.error{
	font-size: 10px;
}
#useredit .submit.disabled{
	opacity: 0.8 !important;
}
.text.separator.element  {
	display: block;
	position:relative;
	overflow: hidden;
}
.text.border-line.element  {
	height: 1px;
	background: #ddd;
	width: 100%;
	overflow: hidden;
  position: relative;
	
}
.checkbox.enabled.element  {
	margin-left: auto;
	margin-right: auto;
	width:130px; 
	float: none;
}
.checkbox label {
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#gridbox .xhdr {
	overflow: visible !important;
}
.hdr .chzn-drop {
	/*width: 180px !important;*/
	text-align: left;
}
.hdr .chzn-drop .chzn-search input {
	/*width: 144px !important;*/
}
.hdr .chzn-container {
	text-align: left;
}
.hdr .chzn-container-single .chzn-single {
	height: 21px;
	line-height: 21px;
}
.hdr .chzn-container-single {
	position: relative;
    top: 2px;
}
.hdr .chzn-container-single .chzn-single div b {
	background: url('chosen/chosen-sprite.png') no-repeat 6px 2px;
}

.small-popup .chzn-container-active .chzn-choices {
	 -webkit-box-shadow: 0 0 0 !important;
  -moz-box-shadow   : 0 0 0 !important;
  box-shadow        : 0 0 0 !important;
  border:  1px solid #dcdde1 !important;
} 
.small-popup .chzn-drop {
	border:  1px solid #dcdde1 !important;
	border-top:0 none;
}
.small-popup .chzn-container-multi .chzn-choices {
	border:  1px solid #dcdde1 !important;
}
.button.cancel.element .el, .remove-link {
	padding-left: 15px;
	border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
	border-top:1px solid #8d6262;
	border-right:1px solid #8d6262;
	border-bottom:1px solid #a58484;
	border-left:1px solid #a58484;
	background: #be9e9e;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlOWU5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjYWM4NDg0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTIlIiBzdG9wLWNvbG9yPSIjOWM3MjcyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzg2NWE1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #be9e9e 0%, #ac8484 9%, #9c7272 52%, #865a5a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#be9e9e), color-stop(9%,#ac8484), color-stop(52%,#9c7272), color-stop(100%,#865a5a));
background: -webkit-linear-gradient(top,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
background: -o-linear-gradient(top,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
background: -ms-linear-gradient(top,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
background: linear-gradient(to bottom,  #be9e9e 0%,#ac8484 9%,#9c7272 52%,#865a5a 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#be9e9e', endColorstr='#865a5a',GradientType=0 );

}
.button.cancel.element .el:hover, .remove-link:hover {
	border-bottom:1px solid #8d6262;
	border-right:1px solid #8d6262;
	border-top:1px solid #a58484;
	border-left:1px solid #a58484;
	background: #865a5a;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2NWE1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzlhNzA3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2FkODU4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiZTllOWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #865a5a 0%, #9a7070 49%, #ad8585 98%, #be9e9e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#865a5a), color-stop(49%,#9a7070), color-stop(98%,#ad8585), color-stop(100%,#be9e9e));
background: -webkit-linear-gradient(top,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
background: -o-linear-gradient(top,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
background: -ms-linear-gradient(top,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
background: linear-gradient(to bottom,  #865a5a 0%,#9a7070 49%,#ad8585 98%,#be9e9e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#865a5a', endColorstr='#be9e9e',GradientType=0 );

}
.button.cancel.element .el .clear-btn, .remove-link button  {
	background:url('../../images/admin/codeitadmin/cancel_icon.png') no-repeat 0 9px;
	border: 0 none;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
	vertical-align: top;
  text-shadow: -1px -1px 1px #7a4d4d;
}
button.green-button {
	display: block;
  height: 32px;
  line-height: 30px;
  font-size: 12px;
  text-shadow: -1px -1px 1px #639543;
  padding: 0 15px;
  margin: 10px auto;
  border-radius: 3px;
  border: 1px solid #68a341;
  border-left: 1px solid #88b66b;
  background: #b1d284;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IxZDI4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iIzljYzY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzg5Yjk2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NGFhNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #b1d284 0%, #9cc66d 10%, #89b961 50%, #74aa52 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1d284), color-stop(10%,#9cc66d), color-stop(50%,#89b961), color-stop(100%,#74aa52));
background: -webkit-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: -o-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: -ms-linear-gradient(top,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
background: linear-gradient(to bottom,  #b1d284 0%,#9cc66d 10%,#89b961 50%,#74aa52 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1d284', endColorstr='#74aa52',GradientType=0 );

}
button.green-button:hover {
	cursor: pointer;
	background: #74aa52;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0YWE1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iIzllYzY2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMWQyODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #74aa52 0%, #9ec66e 93%, #b1d284 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#74aa52), color-stop(93%,#9ec66e), color-stop(100%,#b1d284));
background: -webkit-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: -o-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: -ms-linear-gradient(top,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
background: linear-gradient(to bottom,  #74aa52 0%,#9ec66e 93%,#b1d284 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74aa52', endColorstr='#b1d284',GradientType=0 );

}

.sm-btn .submit.submit.element .el, .menu-btns .submit.submit.element .el {
	height: 30px;
}
.sm-btn .submit.submit.element .el input, .menu-btns .submit.submit.element .el input{
	height: 30px !important;
}
.sm-btn .form-button, .menu-btns .form-button{
	line-height: 25px;
}

div.gridbox_light .xhdr {
	position:relative !important;
}
.objbox {
	padding-top: 0 !important;

}
.objbox .obj {
}
#gridbox {
	min-height: 100%;
}
/* firefox hack */
@-moz-document url-prefix() {
	#useredit.assistant-form .submit {
		bottom: -12px;
	}
}
 .error {
	width: 100%;
}
#gridbox .chzn-container {
	width: 99% !important;
}
.hor-line-without-extramargin {
	margin: 20px 0px 0px 0px;
}
.menu-btns {
	width: 100%;
	margin: 0 auto;
	/*border: 1px #ff0000 solid;*/
	position: relative;
}
.loaderWrapp{position: fixed; width: 100%; height: 100%; text-align: center; vertical-align: middle; background: rgba(255,255,255,0.3); top:0; left:0; text-align: center; line-height: 150px; z-index: 999999; display: none;}
.loaderWrapp.opacNullWrapp{background: rgba(0,0,0,0);-webkit-transform: translate3d(0, 0, 0);}
.loaderWrapp img{position: relative; top:50%; left:50%;margin-left:-15px; width:75px; height: 75px; display: block; z-index:2005; margin-top: -15px; -webkit-transform: translate3d(0, 0, 0);  -webkit-touch-callout: none;
								 -webkit-user-select: none;
								 -khtml-user-select: none;
								 -moz-user-select: none;
								 -ms-user-select: none;
								 user-select: none; }
#body .objbox td {
	height: 32px;
}
@media screen and (max-width: 1100px) {
    .hdr td,
    .hdr td div,
    .hdr td a {
			font-size: 11px;
			line-height: 16px;
	}
}

.content-iframe{position: relative; }
.chzn-search{min-width: 90%;}
.chzn-search input{min-width: 80%;}

.popup_header_cust + .popup_content .popup_message {
    text-align: center;
}
.content-iframe input[readonly="readonly"], .chzn-disabled > a,.chzn-disabled > .chzn-choices, select[disabled="disabled"]{
	  opacity:0.75 !important;
	  background-color: #FcFcFc !important;
}
.readonlyform-remove-link {
	margin-left: 0px !important;
}
/* custom radio button */
input[type=radio].css-checkbox {
	display:none;
}

input[type=radio].css-checkbox + label.css-label {
	padding-left:21px;
	height:17px; 
	display:inline-block;
	line-height:17px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
}
input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -17px;
}
label.css-label {
	background-image: url(../../images/admin/custom_checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#nav li.level0.last {
	float: right;
}
.datepickersToggle {
    	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
    background: url("../../images/admin/codeitadmin/blueSlicer.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin: 0 5px;
    vertical-align: middle;
    width: 44px;
}
.datepickersToggle.showDatepickersLeft{background-position: 50% -19px;}
.showDatepickersWrapp{margin-top: 5px;}
.hasDatepicker{padding: 2px 5px;}
.rangeDP{display: none;}
.singleDP, .rangeDP{ float: left; margin-bottom: 5px;}
.halfWidthBlock{ width: 48%; float: left;}
.halfWidthBlock + .halfWidthBlock{float: right;}
.hdr .singleDP, .hdr .rangeDP{width: -webkit-calc(100% - 24px) !important; width:calc(100% - 24px) !important; }
.hdr .singleDP input, .hdr .rangeDP input{height: 24px;}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.clearDate{
   	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
    background: url("../../images/admin/codeitadmin/close.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: right;
    height: 14px;
    margin-left: 5px;
    margin-top: 4px;
    text-decoration: none;
    vertical-align: middle;
    width: 14px;
}
.form-button, .form-button:hover {min-height: 18px; padding: 3px 6px !important; text-decoration: none;}
.form-button.add span { padding-left:20px; }
.margTop8{margin-top: 8px;}
.total-grid-count {float: left;margin-left: 25px; font-weight: bold;}
.middle .edit-content-wrap {padding: 0 25px 25px 25px;}
form .input-error + ul, .error li, .error {
    color: #ba3e3e;
    list-style: outside none none;
}
.hidden, .hidden .error { display: none;}
.edit-page .wrapBox, .wrapper, .middle{
	height: auto;
}